body {
  background-color: #FDCA40;
  color: #3772FF;
}

.mainTheme {
  /* text-align: center; */
  margin: auto;
  margin-top: 30px;
  border: solid #3772FF;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 6px #080708;
  padding: 20px;
  width: 80%;
  background-color: #E6E8E6;
}

.smallBorder {
  margin: auto;
  border: solid #3772FF;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

a {
  color: #DF2935;
}

p, h3 {
  color: #080708;
}

.orderForm {
  /* float: right; */
  /* text-align: center; */
  margin: auto;
  padding: 5px;
  /* width: 50%; */
}

#homeImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);  
  max-width: 50%;
  max-height: 50%;
}